String based assignment problem :

Q1: Write a program to reverse a string.

In [4]:
'Solution'

input_string = input("Enter the string")
reverse_string = input_string[::-1]
print(reverse_string)

Enter the string ram

mar

In [6]:
'Solution'

in_string = input("Enter the string")
for char in range((len(in_string)-1),-1,-1):
    print(in_string[char],end="")

Enter the string ram

mar

Q2a: Check if a string is a palindrome.

In [4]:
'Solution'

input_string1 = input("Enter the String")
a = input_string1[-1::-1]
if a==input_string1:
    print("The String is Palindrome")
else:
    print("The String is not Palindrome")

Enter the String radhey

The String is not Palindrome

Q2b: Check if a number is a palindrome.

In [ ]:
'Solution'

In [8]:
i = int(input('Enter the number:'))
rev = 0
x = i

while(i>0):
    rev = (rev*10) + i%10
    i=i//10
    
if (x == rev):
    print('The number entered is a Palindrome')
else:
    print('The number entered is not a Palindrome')

Enter the number: 123

The number entered is not a Palindrome

Q2c: Check if a number is a palindrome [List Comprehension]

In [1]:
def is_palindrome(s):
    s = s.lower()
    
    s = ''.join(e for e in s if e.isalnum())
    
    return s==s[::-1]

In [2]:
is_palindrome('madam')

True

Q3: Convert a string to uppercase.

In [5]:
in_string = input('Enter the string')
a = in_string.upper()
print("Uppercase String:",a)

Enter the string paras sharma

Uppercase String: PARAS SHARMA

Q4: Convert a string to lowercase.

In [6]:
in_string1 = input('Enter the string')
a1 = in_string.lower()
print("Lowercase String:",a1)

Enter the string PARAS SHARMA

Lowercase String: paras sharma

Q5: Count the number of vowels in a string.

In [7]:
def count_vowels(string):
    counter = 0
    vowels = set('aeiou')
    
    for i in string:
        if i in vowels:
            counter = counter + 1
    return counter

In [8]:
input_string = input("Enter the string")
counter_val = count_vowels(input_string)
print("No. of Vowels in String:", counter_val)

Enter the string hello my name is paras

No. of Vowels in String: 7

Q6: Count the number of vowels / consonants in a string.

In [19]:
a = input('Enter your Name:')
vowel_count = 0
consonant_count = 0

for i in range(0,len(a)):
    if (a[i]!=" "):
        if(a[i]=='a' or a[i]=='e' or a[i]=='i' or a[i]=='o' or a[i]=='u' or
           a[i]=='A' or a[i]=='E' or a[i]=='I' or a[i]=='O' or a[i]=='U'):
            vowel_count = vowel_count + 1
        else:
            consonant_count = consonant_count + 1

print("Vowel count",vowel_count)
print("Consonant count",consonant_count)

Enter your Name: paras

Vowel count 2
Consonant count 3

Q7: Remove all whitespaces from a string.

In [1]:
def rem_whitespace(input_string):
    result = ""
    
    for char in input_string:
        if char!=" ":
            result+=char
        
    return result

input_string = "Hello    My name is    Paras    sharma"
output_string = rem_whitespace(input_string)
print(output_string)

HelloMynameisParassharma

Q8: Find the length of a string without using the `len()` function.

In [2]:
def cal_lenght(string):
    lenght=0
    
    for char in string:
        if char != "":
            lenght+=1
        
    return lenght

string = input("Enter the string:")
String_lenght = cal_lenght(string)
print("String lenght is:", String_lenght)

Enter the string: Paras Sharma

String lenght is: 12

Q9: Check if a string contains a specific word.

In [1]:
main_string = input("Enter the string:")
find_string = input("Enter the string to search:")
if find_string in main_string:
    print(f "The main string has the find string '{find_string}'.")
else:
    print(f "The main string das the find string '{find_string}'.")

SyntaxError: invalid syntax (3545520212.py, line 4)

Q10: Replace a word in a string with another word.

In [2]:
input_string = input("Enter the string:")

old_string = input("enter the old word:")
new_string = input("enter the new word:")

modified_string = input_string.replace(old_string,new_string)
print("Modified string:", modified_string)

Enter the string: Paras is a good boy
enter the old word: good
enter the new word: bad

Modified string: Paras is a bad boy

Q11. Count the occurrences of a word in a string.

In [6]:
def word_count(input_string, which_word):
    
    counter = 0

    word = input_string.split()

    for char in word:
        if char == which_word:
            counter=counter+1
    return counter

input_string = input("Enter the string:")
which_word = input("Enter the word to search:")

word_counter = word_count(input_string,which_word)
print(f"{which_word} is repeated {word_counter} times in the string.")

Enter the string: are you are
Enter the word to search: are

are is repeated 2 times in the string.

Q12.Find the first occurrence of a word in a string.

In [7]:
def find_first_occurence(text,word):
    index = 0
    index = text.find(word)
    
    if index == -1:
        return None
    
    return index

text = input("Enter the string:")
word = input("Enter the word to search:")
word_search = find_first_occurence(text,word)
print(f"{word} is at location {word_search} in the sentence.")

Enter the string: paras is a good boy
Enter the word to search: good

good is at location 11 in the sentence.

Q13. Find the last occurrence of a word in a string.

In [8]:
def find_last_occurence(text,word):
    index = 0
    index = text.rfind(word)
    
    if index == -1:
        return None
    
    return index

text = input("Enter the string:")
word = input("Enter the word to search:")
word_search = find_last_occurence(text,word)
print(f"{word} is at location {word_search} in the sentence.")

Enter the string: hello i am hello
Enter the word to search: hello

hello is at location 11 in the sentence.

Q14. Split a string into a list of words.

In [2]:
def split_string(input_string):
    kk = input_string.split()
    return kk

ll = input("Enter tehe string:")
jj = split_string(ll)
jj

Enter tehe string: paras has to do codding

['paras', 'has', 'to', 'do', 'codding']

Q15. Join a list of words into a string.

In [3]:
def join_list_of_words(words):
    joined_words = ' '.join(words)
    return joined_words

words = ['Hello','my','name','is','paras']
gg=join_list_of_words(words)
print('The joined is: ',gg)

The joined is:  Hello my name is paras

Q16. Convert a string where words are separated by spaces to one where words
are separated by underscores.

In [1]:
def convert_space_underscore(text):
    tt = text.replace(" ","_")
    return tt

ks = input("Enter the string")
io = convert_space_underscore(ks)
print('The changed string: ',io)

Enter the string the good boy is here

The changed string:  the_good_boy_is_here

Q17. Check if a string starts with a specific word or phrase.

In [3]:
def starts_with(text,prefix):
    rr = text.startswith(prefix)
    return rr

text = "Paras Sharma"
prefix = "Tattoo"
result = starts_with(text,prefix)
if result:
    print("The text starts the prefix")
else:
    print("The text does not starts the prefix")

The text does not contains the prefix

 Q18. Check if a string ends with a specific word or phrase.

In [4]:
def ends_with(text,suffix):
    rr = text.endswith(suffix)
    return rr

text = "Paras Sharma"
suffix = "Sharma"
result = ends_with(text,suffix)
if result:
    print("The text ends with the prefix")
else:
    print("The text does not ends with the prefix")

The text ends with the prefix

Q19. Convert a string to title case (e.g., "hello world" to "Hello World").

In [ ]:
def convert_to_title_case(text):
    title_case_text = text.title()
    return title_case_text

text = "hello world"
title_case_result = convert_to_title_case(text)
print("Title case:", title_case_result)

Q20. Find the longest word in a string.

In [7]:
def long_word(text):
    tt = text.split()
    max_word = 0
    text = ""
    
    for word in tt:
        if len(word) > max_word:
            max_word = len(word)
            text = word
    return text

text = input("Enter the string")
yy = long_word(text)
print("The longest word is:", yy)

Enter the string Paras hellok ji

The longest word is: hellok

Q21. Find the shortest word in a string.

In [7]:
def shortest_word(catch):
    wk = catch.split()
    we = None
    l1 = float('inf')
    
    for i in wk:
        if len(i) < l1:
            l1= len(i)
            we = i
    return we

text = input("Enter the string")
yy = shortest_word(text)
print("The shortest word is:", yy)

Enter the string er  rrtttt

The shortest word is: er

Q22. Reverse the order of words in a string.

In [20]:
def reversed_words(tt):
    srt = tt.split()
    rev_str = ' '.join(reversed(srt))
    return rev_str


text1 = "Hello people I am waiting"
fr = reversed_words(text1)
print("Reversed order of string:  ", fr)

Reversed order of string:   waiting am I people Hello

Q23. Check if a string is alphanumeric.

In [26]:
def isalphanumerice(tt):
    return tt.isalnum()

tr = input("Enter the string:  ")
we = isalphanumerice(tr)

if we:
    print("The string is alphanumeric")
else:
    print("The string is not alphanumeric")

Enter the string:   paras()234

The string is not alphanumeric

Q24. Extract all digits from a string.

In [27]:
def ext_digit(text):
    digits = ""
    
    for char in text:
        if char.isdigit():
            digits += char
    return digits
ss = input("Enter the String:")
rt = ext_digit(ss)
print("String contains folowing digits:", rt)

Enter the String: Paras1234rtyu

String contains folowing digits: 1234

Q25. Extract all alphabets from a string.

In [32]:
def ext_alpha(catch):
    catcher = ' '.join([char for char in catch if char.isalpha()])
    return catcher

text1 = "Hello123Paras"
rt = ext_alpha(text1)
print(rt)

H e l l o P a r a s

Q26. Count the number of uppercase letters in a string.

In [1]:
def count_upper(s4):
    c = ""
    d = 0
    for i in s4:
        if i.isalpha():
            if i.isupper():
                d=d+1
    return d
o = count_upper("Paras Sharma")
print("Upper letter-->",o)

Upper letter--> 2

Q27. Count the number of lowercase letters in a string.

In [2]:
def count_lower(input_string):
    catch = sum(1 for char in input_string if char.islower())
    return catch

caller = count_lower("Paras Sharma")
print("The number of lower case letters:-->", caller)

The number of lower case letters:--> 9

Q28. Swap the case of each character in a string.

In [4]:
def swap_case(input_string):
    swapped_string = input_string.swapcase()
    return swapped_string

# Example input string
input_string = "HelloWORLD"
result = swap_case(input_string)
print(result)

hELLOworld

Q29. Remove a specific word from a string.

In [16]:
def remove_word(input_string,r_word):
    
    final_string=[]
    list_string = input_string.split()
    catcher = [word for word in list_string if word != r_word]
    final = ' '.join(catcher)
    return final
   

k = "Hello paras are you there"
i = "paras"
t = remove_word(k,i)
print(f"The main string is.{k} and word to remove is.{i}, The final is {t}")

The main string is.Hello paras are you there and word to remove is.paras, The final is Hello are you there

Q30. Check if a string is a valid email address.

In [17]:
import re  # Import the regular expression module

def is_valid_email(email):
    pattern = r'^[\w\.-]+@[\w\.-]+\.\w+$'  # Regular expression pattern for a basic email validation
    if re.match(pattern, email):
        return True
    else:
        return False

# Example email addresses
email1 = "example@email.com"
email2 = "invalid-email"
result1 = is_valid_email(email1)
result2 = is_valid_email(email2)
print(result1)
print(result2)

True
False

Q31. Extract the username from an email address string.

In [18]:
def extract_username(email):
    catcher = email.split('@')[0]
    return catcher
k = extract_username('sharmaparas23@gmail.com')
print("The user name is:->",k)

The user name is:-> sharmaparas23

Q32. Extract the domain name from an email address string.

In [1]:
def extract_domain(email):
    domain = email.split('@')[1]  
    return domain


email = "example@email.com"
result = extract_domain(email)
print(result)

email.com

Q33. Replace multiple spaces in a string with a single space.

In [2]:
def replace_multiple_spaces(input_string):
    cleaned_string = ' '.join(input_string.split())  
    return cleaned_string


input_string = "Hello     world!   How   are   you?"
result = replace_multiple_spaces(input_string)
print(result)

Hello world! How are you?

Q34. Check if a string is a valid URL.

In [3]:
from urllib.parse import urlparse

def is_valid_url(url):
    try:
        result = urlparse(url)
        return all([result.scheme, result.netloc]) 
    except ValueError:
        return False

url1 = "https://www.example.com"
url2 = "invalid-url"
result1 = is_valid_url(url1)
result2 = is_valid_url(url2)
print(result1)
print(result2)

True
False

Q35. Extract the protocol (http or https) from a URL string.

In [4]:
def extract_protocol(url):
    
    protocol_end = url.find("://")

    if protocol_end != -1:
        
        protocol = url[:protocol_end]
        return protocol
    else:
        return None

url1 = "https://www.example.com"
url2 = "http://google.com"
url3 = "ftp://ftp.example.com"
protocol1 = extract_protocol(url1)
protocol2 = extract_protocol(url2)
protocol3 = extract_protocol(url3)
print("Protocol 1:", protocol1)
print("Protocol 2:", protocol2)
print("Protocol 3:", protocol3)

Protocol 1: https
Protocol 2: http
Protocol 3: ftp

Q36. Find the frequency of each character in a string.

In [5]:
def character_frequency(input_string):
    frequency = {}  

    for char in input_string:
        if char in frequency:
            frequency[char] += 1 
        else:
            frequency[char] = 1   

    return frequency

input_str = "hello world"
char_freq = character_frequency(input_str)
for char, freq in char_freq.items():
    print(f"Character: '{char}', Frequency: {freq}")

Character: 'h', Frequency: 1
Character: 'e', Frequency: 1
Character: 'l', Frequency: 3
Character: 'o', Frequency: 2
Character: ' ', Frequency: 1
Character: 'w', Frequency: 1
Character: 'r', Frequency: 1
Character: 'd', Frequency: 1

Q37. Remove all punctuation from a string.

In [ ]:
import string

def remove_punctuation(input_string):
    translator = str.maketrans("","" , string.punctuation)
    clean_string = input_string.translate(translator)
    return clean_string

input_str = "Hello, world! How's it going?"
cleaned_str = remove_punctuation(input_str)

print("Original string:", input_str)
print("Cleaned string:", cleaned_str)

Q38. Check if a string contains only digits.

In [6]:
def contains_only_digits(input_string):
    return input_string.isdigit()

string1 = "Hello123"
string2 = "456.789"
result1 = contains_only_digits(string1)
result2 = contains_only_digits(string2)

print(f"'{string1}' contains only digits:", result1)
print(f"'{string2}' contains only digits:", result2)

'Hello123' contains only digits: False
'456.789' contains only digits: False

Q39. Check if a string contains only alphabets.

In [7]:
def contains_only_alphabets(input_string):
    return input_string.isalpha()

string1 = "Hello123"
string2 = "456.789"
result1 = contains_only_alphabets(string1)
result2 = contains_only_alphabets(string2)

print(f"'{string1}' contains only digits:", result1)
print(f"'{string2}' contains only digits:", result2)

'Hello123' contains only digits: False
'456.789' contains only digits: False

Q40. Convert a string to a list of characters.

In [ ]:
def string_to_list(input_string):
    char_list = list(input_string)
    return char_list

input_str = "Hello, world!"
char_list = string_to_list(input_str)
print("Original string:", input_str)
print("List of characters:", char_list)

Q41. Check if two strings are anagrams.

In [ ]:
def isanagrams(str1,str2):
    st1 = str1.replace(" ","").lower()
    st2 = str2.replace(" ","").lower()
    
    return sorted(st1) == sorted(st2)

string1 = "listen"
string2 = "silent"
string3 = "hello"
string4 = "world"
result1 = are_anagrams(string1, string2)
result2 = are_anagrams(string3, string4)
print(f"'{string1}' and '{string2}' are anagrams:", result1)
print(f"'{string3}' and '{string4}' are anagrams:", result2)

Q42. Encode a string using a Caesar cipher.

In [8]:
def caesar_cipher(text,shift):
    encoded_shift=""
    
    for char in text:
        if char.isalpha():
            encoded_char = chr((ord(char) + shift - ord('a')) % 26 + ord('a'))
        else:
            encoded_char = char
            
        encoded_shift = encoded_shift + encoded_char
    return encoded_shift

text = "Hello, world!"
shift = 3
encoded_text = caesar_cipher(text, shift)
print("Encoded text:", encoded_text)

Encoded text: ehoor, zruog!

Q43.Decode a Caesar cipher encoded string.

In [16]:
def caesar_cipher_decoder(text, shift):
    decoded_text = ""

    for char in text:
        if char.isalpha():
            decoded_char = chr((ord(char) - shift - ord('a')) % 26 + ord('a'))
        else:
            decoded_char = char

        decoded_text += decoded_char

    return decoded_text

text = "ehoor, zruog!"
shift = 3

decoded_text = caesar_cipher_decoder(text, shift)
print("Decoded text:", decoded_text)

Decoded text: bello, world!

Q44. Find the most frequent word in a string.

In [40]:
import re
from collections import Counter

def most_freq_word(input_string):
    clean_string = re.sub(r'[^\w\s]','',input_string).lower()
    
    words = clean_string.split()
    
    word_counter = Counter(words)
    
    most_common_word = word_counter.most_common()[0]
    
    return most_common_word
    
input_str = "Hello world, hello hello peter peter peter peter there! How's the world?"

# Find the most frequent word
most_common = most_freq_word(input_str)

# Print the result
print("Most frequent word:", most_common)

Most frequent word: ('peter', 4)

Q45. Find all unique words in a string.

In [43]:
import re

def unique_words(input_string):
    clean_string1 = re.sub(r'[^\w\s]','',input_string).lower()
    
    unique_word = set(clean_string1.split())
    return unique_word

string1 = "hello! hello! , World are you there hello!"
k = unique_words(string1)
print("unique words are:-->", k)

unique words are:--> {'hello', 'world', 'there', 'you', 'are'}

Q46. Count the number of syllables in a string.

In [46]:
import re

def count_syllables(string_input5):
    vowel_groups = re.findall(r'[aeiouy]+',string_input5,re.IGNORECASE)
    return len(vowel_groups)

word1 = "hello"
word2 = "banana"
word3 = "syllable"

# Count syllables
syllables1 = count_syllables(word1)
syllables2 = count_syllables(word2)
syllables3 = count_syllables(word3)

# Print the results
print(f"'{word1}' has {syllables1} syllables.")
print(f"'{word2}' has {syllables2} syllables.")
print(f"'{word3}' has {syllables3} syllables.")

'hello' has 2 syllables.
'banana' has 3 syllables.
'syllable' has 3 syllables.

Q47. Check if a string contains any special characters.

In [49]:
import re

def spec_characters(input_string6):
    special_char = re.compile(r'[!@#$%^&*()_+{}\[\]:;<>,.?~\\/]')
    
    match = special_char.search(input_string6)
    return bool(match)

s = "Hello"
s1 = "Hell!@"
s2 = "JIO<"

w = spec_characters(s)
w1 = spec_characters(s1)
w2 = spec_characters(s2)

print(f"The string {s} contains special character {w}.")
print(f"The string {s1} contains special character {w1}.")
print(f"The string {s2} contains special character {w2}.")

The string Hello contains special character False.
The string Hell!@ contains special character True.
The string JIO< contains special character True.

Q48. Remove the nth word from a string.

In [54]:
def remove_nth_word(text,nth):
    clean_list= text.split()
    
    if nth >= 1 and nth <= len(clean_list):
        removed_word = clean_list.pop(nth-1)
        
        modified_string = ' '.join(clean_list)      
        return modified_string,removed_word
    else:
        return None,None
input_string = "Hello My name is Paras Sharma"
nth_value = 2

modified_word,removed_word = remove_nth_word(input_string,nth_value)
print("Orginal string is:-->", input_string)

if modified_word is not None:
    print("Modified string is:-->", modified_word)
    print("Removed word is:-->", removed_word)
else:
    print("Invalid entry")

Orginal string is:--> Hello My name is Paras Sharma
Modified string is:--> Hello name is Paras Sharma
Removed word is:--> My

Q49. Insert a word at the nth position in a string.

Q50. Convert a CSV string to a list of lists.

In [57]:
def csv_listoflists(string_catch):
    lines = string_catch.split('\n')
    result = []
    
    for line in lines:
        fields = line.split(',')
        
        result.append(fields)
    return result
        
csv_data = "Name, Age, Country\nJohn, 25, USA\nAlice, 30, Canada\nBob, 22, UK"

list_of_lists = csv_listoflists(csv_data)

for i in list_of_lists:
    print(i)

['Name', ' Age', ' Country']
['John', ' 25', ' USA']
['Alice', ' 30', ' Canada']
['Bob', ' 22', ' UK']

In [2]:
## **List based practice problem :**

1. Create a list with integers from 1 to 10.

In [3]:
interger_list = [i for i in range(1,11)]
print(interger_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

2. Find the length of a list without using the `len()` function.

In [10]:
l1 = [12,13,'p']

def lenghtoflist(l):
    counter = 0
    for i in l:
        if i != counter:
            counter+=1
        else:
            return i
    return counter

k = lenghtoflist(l1)
print(k)

3

3. Append an element to the end of a list.

In [12]:
def add_element(l1,n):
    l1.append(n)
    return l1
l2 = [10,20,30]
k = add_element(l2,'paras')
print(k)

[10, 20, 30, 'paras']

In [14]:
s = "Name, Age, Country\nJohn, 25, USA\nAlice, 30, Canada\nBob, 22, UK"
lines = s.split("\n")

lst = []
for line in lines:
  field = line.split(",")
  lst.append(field)

for row in lst:
  print(row)

['Name', ' Age', ' Country']
['John', ' 25', ' USA']
['Alice', ' 30', ' Canada']
['Bob', ' 22', ' UK']

In [20]:
s = "Name, Age, Country\nJohn, 25, USA\nAlice, 30, Canada\nBob, 22, UK\nPetar, 45, India"
lines = s.split('\n')

lst=[]
for i in lines:
    f = i.split(',')
    print(f)

['Name', ' Age', ' Country']
['John', ' 25', ' USA']
['Alice', ' 30', ' Canada']
['Bob', ' 22', ' UK']
['Petar', ' 45', ' India']

4. Insert an element at a specific index in a list.

In [16]:
def specific_index(list1,index,value):
    list1.insert(index,value)
    return list1

list_main = [10,11,22,33,56,76,89]
index_to_insert = 4
value_to_insert = 100
k = specific_index(list_main,index_to_insert,value_to_insert)
print("Updated list",k)

Updated list [10, 11, 22, 33, 100, 56, 76, 89]

5. Remove an element from a list by its value.

In [17]:
list_main

[10, 11, 22, 33, 100, 56, 76, 89]

In [18]:
value_to_remove = 22
list_main.remove(33)
list_main

[10, 11, 22, 100, 56, 76, 89]

6. Remove an element from a list by its index.

In [25]:
list_new1 = [10,20,30,40,50]
index_to_remove = 2
final_list = list_new1.pop(index_to_remove)
final_list
list_new1

[10, 20, 40, 50]

7. Check if an element exists in a list.

In [28]:
list_new1
element_to_check = 100

if element_to_check in list_new1:
    print(f"The element: {element_to_check} is present in the list: {list_new1}")
else:
    print(f"The element: {element_to_check} is not present in the list: {list_new1}")

The element: 100 is not present in the list: [10, 20, 40, 50]

8. Find the index of the first occurrence of an element in a list.

In [34]:
list_new1.insert(5,100)
list_new1

[10, 20, 40, 50, 90, 100, 90, 90, 90]

In [ ]:
element_to_check = 90
index_is = list_new1.index(element_to_check)
index_is

4

9. Count the occurrences of an element in a list.

In [39]:
list_new1
value_to_chk_repetetion = 90
counter1 = list_new1.count(90)
counter1

4

10. Reverse the order of elements in a list.

In [40]:
list_new1

[10, 20, 40, 50, 90, 100, 90, 90, 90]

In [47]:
list_new1.reverse()

In [48]:
list_new1

[90, 90, 90, 100, 90, 50, 40, 20, 10]

11. Sort a list in ascending order.

In [54]:
list_new1

[10, 20, 40, 50, 90, 100, 90, 90, 90]

In [55]:
list_new1.sort()
list_new1

[10, 20, 40, 50, 90, 90, 90, 90, 100]

12. Sort a list in descending order.

In [56]:
list_new1.sort(reverse=True)
list_new1

[100, 90, 90, 90, 90, 50, 40, 20, 10]

13. Create a list of even numbers from 1 to 20.

In [59]:
even_number_list = [even for even in range(1,21) if even%2==0]
even_number_list

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

14. Create a list of odd numbers from 1 to 20.

In [60]:
odd_number_list = [i for i in range(1,20) if i%2 != 0]
odd_number_list

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

15. Find the sum of all elements in a list.

In [63]:
sum_of_elements = sum(list_new1)
sum_of_elements

580

16. Find the maximum value in a list.

In [64]:
k = max(list_new1)
k

100

17. Find the minimum value in a list.

In [65]:
w = min(list_new1)
w

10

18. Create a list of squares of numbers from 1 to 10.

In [66]:
list_squares = [x**2 for x in range(1,11)]
print(list_squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

19. Create a list of random numbers.

In [23]:
import random
list_random = [random.randint(1,100) for _ in range(1,15)]
print(list_random)

[34, 60, 1, 36, 11, 5, 6, 93, 8, 37, 41, 58, 50, 65]

20. Remove duplicates from a list.

In [28]:
list1 = [10,10,20,20,30,30,40,40,50,60,70]
rem_dup = list(set(list1))
print(rem_dup)

[70, 40, 10, 50, 20, 60, 30]

21. Find the common elements between two lists.

In [29]:
l1 = [10,20,30,40,50,60]
l2 = [90,70,20,40,60]
common_list = []
for i in l1:
    if i in l2:
        common_list.append(i)
    else:
        None
        
print(common_list)

[20, 40, 60]

22. Find the difference between two lists.

In [30]:
l1 = [10,20,30,40,50,60]
l2 = [90,70,20,40,60]
different= list(set(l1).difference(l2))
print(different)

[50, 10, 30]

23. Merge two lists.

In [31]:
l3 = l1+l2
l3

[10, 20, 30, 40, 50, 60, 90, 70, 20, 40, 60]

24. Multiply all elements in a list by 2.

In [34]:
l4=[x*2 for x in l2]
l4

[180, 140, 40, 80, 120]

25. Filter out all even numbers from a list.

In [38]:
l5 = [1,2,3,4,5,6,7,8]
filter_even = [x for x in l5 if x%2!=0]
filter_even

[1, 3, 5, 7]

26. Convert a list of strings to a list of integers.

In [39]:
l6=['1','2','3','4','5','6','7','8']
l7 = [int(x) for x in l6]
l7

[1, 2, 3, 4, 5, 6, 7, 8]

27. Convert a list of integers to a list of strings.

In [40]:
l8 = [str(x) for  x in l7]
l8

['1', '2', '3', '4', '5', '6', '7', '8']

28. Flatten a nested list.

In [51]:
nest_list = [[10,20,30],[40,50,60],[70,80,90]]
nest_list[1]
def flat_nest_list(nestedlist):
    flattened_list=[]
    for i in nestedlist:
        if isinstance(i,list):
            flattened_list.extend(flat_nest_list(i))
        else:
            flattened_list.append(i)
    return flattened_list

flattened_list = flat_nest_list(nest_list)
print(flattened_list)

[10, 20, 30, 40, 50, 60, 70, 80, 90]

29. Create a list of the first 10 Fibonacci numbers.

In [6]:
def fibonaci_series(n):
    fibonaci_s=[0,1]
    for i in range(2,n):
        fib = fibonaci_s[i-1] + fibonaci_s[i-2]
        fibonaci_s.append(fib)
    return fibonaci_s
k = fibonaci_series(10)
print("fibonaci series:", k)

fibonaci series: [0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

30. Check if a list is sorted.

In [7]:
def list_sorted_asc(ascd):
    for i in range(1,len(ascd)):
        if ascd[i] < ascd[i-1]:
            return False
    return True

l = [10,20,30,50,40,60,70]

if list_sorted_asc(l):
    print("List is sorted")
else:
    print("List is not sorted")

List is not sorted

31. Rotate a list to the left by `n` positions.

In [2]:
a = []
size = int(input("Enter the size of list"))
for i in range(size):
    val = int(input("Enter the element"))
    a.append(val)
print("Main list is:",a)

n = int(input("Enter the number of shift to left"))

for count in range(n):
    key = a[0]
    for k in range(1,size):
        a[k-1] = a[k]
    a[size-1] = key
print(f"List after shifting:{n} times is: ", a)

Enter the size of list 4
Enter the element 1
Enter the element 2
Enter the element 3
Enter the element 4

Main list is: [1, 2, 3, 4]

Enter the number of shift to left 2

List after shifting:2 times is:  [3, 4, 1, 2]

32. Rotate a list to the right by `n` positions.

In [8]:
b = []
size1 = int(input("Enter the size of list"))

for counter in range(size1):
    vsl = int(input("Enter the values"))
    b.append(vsl)
print("Main list is: ",b)
u = int(input("Enter the number of shift to done in right"))
for f in range(u):
    key1 = b[size1-1]
    for r in range(size1-2,-1,-1):
        b[r+1] = b[r]
    b[0] = key1
print(f"The shifted list:{u} times is", b)

Enter the size of list 5
Enter the values 1
Enter the values 2
Enter the values 3
Enter the values 4
Enter the values 5

Main list is:  [1, 2, 3, 4, 5]

Enter the number of shift to done in right 2

The shifted list:2 times is [4, 5, 1, 2, 3]

33. Create a list of prime numbers up to 50.

In [3]:
start = int(input("Enter the start number"))
end = int(input("Enter the end number"))
print("Prime numbers in the range",start,"to",end)
for i in range(start,end+1):
    flag=0
    for j in range(2,i):
        if (i%j==0):
            flag=1
            break
    if flag==0:
        print(i,end=' ')

Enter the start number 1
Enter the end number 50

Prime numbers in the range 1 to 50
1 2 3 5 7 11 13 17 19 23 29 31 37 41 43 47

34. Split a list into chunks of size `n`.

In [3]:
list_lenght = int(input("Enter the size of the list"))
my_list = []

for i in range(list_lenght):
    val = input("Enter the value")
    my_list.append(val)
    
step = int(input("Enter the step size"))

if step<=list_lenght:
    for i in range(0,list_lenght,step):
        print(my_list[i:i+step])
else:
    print("Invalid Step!!!")

Enter the size of the list 7
Enter the value 1
Enter the value 2
Enter the value 3
Enter the value 4
Enter the value 5
Enter the value 6
Enter the value 7
Enter the step size 8

Invalid Step!!!

35. Find the second largest number in a list.

In [5]:
list_size = int(input("enter the list size"))
my_list1=[]

for i in range(list_size):
    val1=input("enter the element")
    my_list1.append(val1)

sortedlist= sorted(set(my_list1))
if len(sortedlist)>=2:
    print("second highest number in list is",sortedlist[-2])
else:
    print("The list doesn't contain enough elements")

enter the list size 5
enter the element 12
enter the element 13
enter the element 67
enter the element 45
enter the element 32

second highest number in list is 45

36. Replace every element in a list with its square.

In [6]:
size3 = int(input("ENter the size of the list"))
my_list4 = []

for i in range(size3):
    val1 = int(input("Enter the element"))
    my_list4.append(val1)
print("The final list is",my_list4)
squared_list=[x ** 2 for x in my_list4]
print("the squared list is",squared_list)

ENter the size of the list 5
Enter the element 1
Enter the element 2
Enter the element 3
Enter the element 4
Enter the element 5

The final list is [1, 2, 3, 4, 5]
the squared list is [1, 4, 9, 16, 25]

37. Convert a list to a dictionary where list elements become keys and their
indices become values.

In [10]:
size4 = int(input("Enter the size of the list"))
my_list5 = []

for i in range(size4):
    val2 = input("Enter the element")
    my_list5.append(val2)

k = {elements:indices for indices,elements in enumerate(my_list5)}
print("final dictinary:", k)

Enter the size of the list 4
Enter the element Paras
Enter the element Himanshu
Enter the element kapil
Enter the element bhav

final dictinary: {'Paras': 0, 'Himanshu': 1, 'kapil': 2, 'bhav': 3}

38. Shuffle the elements of a list randomly.

In [18]:
import random

list2 = [1,2,3,4,5,6,7,8,9,10,32,34,54,67,89]

random.shuffle(list2)

print(list2)

[34, 10, 8, 54, 6, 5, 9, 3, 67, 89, 2, 32, 1, 4, 7]

39. Create a list of the first 10 factorial numbers.

In [19]:
def factorail(n):
    if n==0 or n==1:
        return 1
    else:
        return n* factorail(n-1)
    
p = [factorail(i) for i in range(11)]
print(p)

[1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880, 3628800]

40. Check if two lists have at least one element in common.

In [20]:
def has_common(list1,list2):
    for i in list1:
        if i in list2:
            return True
    return False

list1 = [1,2,3,4,5,6,7]
list2 = [8,9,10,11,1,3]

if has_common:
    print("The two list have some common elements")
else:
    print("The two list have nothing in common")

The two list have some common elements

41. Remove all elements from a list.

In [24]:
list_new = list1
list_new

[1, 2, 3, 4, 5, 6, 7]

In [25]:
list_new.clear()
print("Empty list",list_new)

Empty list []

42. Replace negative numbers in a list with 0.

In [29]:
list1 = [1,2,3,-4,6,7,-8,9]

In [30]:
def replace_negative(list1):
    for i in range(len(list1)):
        if list1[i] < 0:
            list1[i] = 0
    return list1

j = replace_negative(list1)
print(j)

[1, 2, 3, 0, 6, 7, 0, 9]

43. Convert a string into a list of words.

In [31]:
my_string = "Hello, my name is Paras!"
my_list = my_string.split()
print("My list of words are:->" , my_list)

My list of words are:-> ['Hello,', 'my', 'name', 'is', 'Paras!']

44. Convert a list of words into a string.

In [32]:
my_list

['Hello,', 'my', 'name', 'is', 'Paras!']

In [38]:
my_str = " ".join(my_list)
print(my_str)

Hello, my name is Paras!

45. Create a list of the first `n` powers of 2.

In [40]:
n = int(input("Enter the n power"))
list_npower = [2 ** i for i in range(n)]
print(list_npower)

Enter the n power 6

[1, 2, 4, 8, 16, 32]

46. Find the longest string in a list of strings.

In [41]:
string_list = ["apple", "banana", "cherry", "date", "elderberry"]
longest_string = ""

for i in string_list:
    if len(i)>len(longest_string):
        longest_string=i

print("Longest String is:->", longest_string)

Longest String is:-> elderberry

47. Find the shortest string in a list of strings.

In [43]:
string_list1 = ["apple", "banana", "cherry", "date", "elderberry"]
shortest_string = string_list1[0]

for i in string_list1:
    if len(i)<len(shortest_string):
        shortest_string = i
        
print("Shortest String is:->", shortest_string)

Shortest String is:-> date

48. Create a list of the first `n` triangular numbers.

In [2]:
def triangular_numbers(n):
    return [i*(i+1)//2 for i in range(1,n+1)]

t = triangular_numbers(5)
print(t)

[1, 3, 6, 10, 15]

49. Check if a list contains another list as a subsequence.

In [5]:
def subsequence_list(main_list, sub_list):
    sub_index=0
    for i in main_list:
        if i == sub_list[sub_index]:
            sub_index+=1
            if sub_index==len(sub_list):
                return True
    return False

main_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
sub_list = [3, 5, 8]

if subsequence_list(main_list,sub_list):
    print("The list contains the subsequence")
else:
    print("The list does not contains the subsequence")

The list contains the subsequence

50. Swap two elements in a list by their indices.

In [9]:
my_lis = [1,2,3,4,5,6,7]

indices1 = 1
indices2 = 4

temp = my_lis[indices1]
my_lis[indices1] = my_lis[indices2]
my_lis[indices2] = temp

print(f"List after swapping: {my_lis}")

List after swapping: [1, 5, 3, 4, 2, 6, 7]

Tuple Based Practice Problem :

1. Create a tuple with integers from 1 to 5.

In [1]:
tup_dec = (10,20,30,40,50)

In [2]:
tup_dec[2]

30

2. Access the third element of a tuple.

In [4]:
tup_dec = (10,20,30,40,50)
tup_dec[2]

30

 3. Find the length of a tuple without using the `len()` function.

In [1]:
tup_dec = (10,20,30,40,50)
count=0
for i in tup_dec:
    count+=1
    
print(count)

5

4. Count the occurrences of an element in a tuple.

In [3]:
tup_dec = (10,20,30,30,30,40,50)
element = 30
counter = 0
for i in tup_dec:
    if i == element:
        counter+=1
print(counter)

3

5. Find the index of the first occurrence of an element in a tuple.

In [4]:
tup_dec = (10,20,30,30,30,40,50)
index_1=-1
element_1=30
for i,j in enumerate(tup_dec):
    if j==element_1:
        index_1=i
        break

if index_1!=-1:
    print(f"The element: {element_1} is at index: {index_1}")
else:
    print(f"The element to find :{element_1} is not present in the tuple ")

The element: 30 is at index: 2

6. Check if an element exists in a tuple.

In [1]:
tu=(10,20,30,50,70,60)
eleme= 30

if eleme in tu:
    print("the element is present in tuple")
else:
    print("the element is not present in tuple")

the element is present in tuple

7. Convert a tuple to a list.

In [2]:
tu=(10,20,30,50,70,60)
list(tu)

[10, 20, 30, 50, 70, 60]

8. Convert a list to a tuple.

In [4]:
tu1 = [10,20,30,40,50]
tuple(tu1)

(10, 20, 30, 40, 50)

9. Unpack the elements of a tuple into variables.

In [2]:
my_tuple = (10,20,30)
v1,v2,v3 = my_tuple
print("Variable1:", v1)
print("Variable2:", v2)
print("Variable3:", v3)

Variable1: 10
Variable2: 20
Variable3: 30

10. Create a tuple of even numbers from 1 to 10.

In [3]:
tu_even_var = [n for n in range(1,11) if n%2==0]
final = tuple(tu_even_var)
final

(2, 4, 6, 8, 10)

11. Create a tuple of odd numbers from 1 to 10.

In [4]:
tu_odd_var = [k for k in range(1,11) if k%2!=0]
final1 = tuple(tu_odd_var)
final1

(1, 3, 5, 7, 9)

12. Concatenate two tuples.

In [7]:
t1 = (1,2,3,4,5,6,7)
t2 = (1,8,9,10,11,12,13)
t = t1+t2
t

(1, 2, 3, 4, 5, 6, 7, 1, 8, 9, 10, 11, 12, 13)

13. Repeat a tuple three times.

In [9]:
t3 = 3*t1
t3

(1, 2, 3, 4, 5, 6, 7, 1, 2, 3, 4, 5, 6, 7, 1, 2, 3, 4, 5, 6, 7)

14. Check if a tuple is empty.

In [11]:
emp_tuple = ()
non_emp_tuple = (1,2,3,4)

if not emp_tuple:
    print("the tuple is empty")
else:
    print("the tuple is not empty")
    
if not non_emp_tuple:
    print("the non empty tuple is empty")
else:
    print("the non empty tuple is not empty")

the tuple is empty
the non empty tuple is not empty

15. Create a nested tuple.

In [12]:
nested_tuple1 = ((1,2,3,4,5),('a','b','c','d'),(True,False))
nested_tuple1

((1, 2, 3, 4, 5), ('a', 'b', 'c', 'd'), (True, False))

16. Access the first element of a nested tuple.

In [13]:
nested_tuple1
nested_tuple1[0]

(1, 2, 3, 4, 5)

17. Create a tuple with a single element.

In [14]:
t4 = (10)
t4

10

18. Compare two tuples.

In [15]:
t5 = (1,2,3)
t6 = (4,5,6)

print("equality check" , t5 == t6)
print("Not equality check" , t5 != t6)
print("less then equal check" , t5 <= t6)
print("greater then equal check" , t5 >= t6)
print("less check" , t5 < t6)
print("greter check" , t5 > t6)

equality check False
Not equality check True
less then equal check True
greater then equal check False
less check True
greter check False

19. Delete a tuple.

In [18]:
new_tuple = (1,2,3,4,5,6,7,8)
del new_tuple
new_tuple

NameError: name 'new_tuple' is not defined

20. Slice a tuple.

In [19]:
t1

(1, 2, 3, 4, 5, 6, 7)

In [20]:
sliced_tuple = t1[2:6]
sliced_tuple

(3, 4, 5, 6)

21. Find the maximum value in a tuple.

In [2]:
tt=(123,234,564,653,789)
max_tuple = max(tt)
max_tuple

789

22. Find the minimum value in a tuple.

In [4]:
min_tuple = min(tt)
min_tuple

123

23. Convert a string to a tuple of characters.

In [5]:
s = "Hello Petar"
con_str_tuple = tuple(s)
con_str_tuple

('H', 'e', 'l', 'l', 'o', ' ', 'P', 'e', 't', 'a', 'r')

24. Convert a tuple of characters to a string.

In [9]:
t1 = ('h','e','l','l','o',' ','w','o','l','d','!')
str_tupl = ' '.join(t1)
str_tupl

'h e l l o   w o l d !'

25. Create a tuple from multiple data types.

In [10]:
mul_tuple = (1,2,3,"hello","paras",True,False,1.2)
mul_tuple

(1, 2, 3, 'hello', 'paras', True, False, 1.2)

26. Check if two tuples are identical.

In [13]:
t2 = (1,2,3,4,5)
t3 = (1,2,3,4,5)
t4 = (6,7,2,3)

identical1 = t2 == t3
identical2 = t3 == t4

print(f"the {t2} and {t3} are identical", identical1)
print(f"the {t3} and {t4} are identical", identical2)

the (1, 2, 3, 4, 5) and (1, 2, 3, 4, 5) are identical True
the (1, 2, 3, 4, 5) and (6, 7, 2, 3) are identical False

27. Sort the elements of a tuple.

In [2]:
t5 = (1,2,9,8,7,6,5,4,3,2)
sorted_tuple = tuple(sorted(t5))
sorted_tuple

(1, 2, 2, 3, 4, 5, 6, 7, 8, 9)

28. Convert a tuple of integers to a tuple of strings.

In [6]:
tup_of_int = (22,33,5,7,5,43,3)
tup_of_str = tuple(str(temp) for temp in tup_of_int)
tup_of_str

('22', '33', '5', '7', '5', '43', '3')

29. Convert a tuple of strings to a tuple of integers.

In [8]:
tup_of_str
tup_of_inte = tuple(int(h) for h in tup_of_str)
tup_of_inte

(22, 33, 5, 7, 5, 43, 3)

30. Merge two tuples.

In [10]:
t6 = (1,2,3,4,5)
t7 = (6,7,8,9,10)
t8 = t6+t7
t8

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

31. Flatten a nested tuple.

In [11]:
tn=((1,2,3),('paras','sharma'),(4,5,9))
def flattened_tuple(input_tuple):
    flattened=[]
    for i in input_tuple:
        if isinstance(i,tuple):
            flattened.extend(flattened_tuple(i))
        else:
            flattened.append(i)
    return flattened

k= tuple(flattened_tuple(tn))
print(k)

(1, 2, 3, 'paras', 'sharma', 4, 5, 9)

32. Create a tuple of the first 5 prime numbers.

In [13]:
for i in range(1,6):
    flag = 0
    for j in range(2,i):
        if i%j == 0:
            flag = 1
            break
    if flag==0:
        print(i,end=' ')

1 2 3 5

33. Check if a tuple is a palindrome.

In [14]:
def palindrome_tuple(h):
    return h == h[::-1]
rt = (1,2,3,2,1)
ty = (1,2,3,4,5)

ispal = palindrome_tuple(rt)
isnpal = palindrome_tuple(ty)
print(ispal)
print(isnpal)

True
False

34. Create a tuple of squares of numbers from 1 to 5.

In [15]:
squ_tuple = tuple(i**2 for i in range(1,6))
squ_tuple

(1, 4, 9, 16, 25)

35. Filter out all even numbers from a tuple.

In [16]:
fil_tuple_even = tuple(i for i in range(1,20) if i%2!=0)
fil_tuple_even

(1, 3, 5, 7, 9, 11, 13, 15, 17, 19)

36. Multiply all elements in a tuple by 2.

In [17]:
tg = (1,2,3,4,5,6)
mul_tupl = tuple(i*2 for i in tg)
mul_tupl

(2, 4, 6, 8, 10, 12)

37. Create a tuple of random numbers.

In [2]:
import random

s = tuple(random.randint(1,100) for _ in range(10))
s

(91, 73, 35, 72, 22, 26, 40, 79, 61, 17)

38. Check if a tuple is sorted.

In [1]:
def is_sort(tup):
    for i in range(len(tup)-1):
        if tup[i] > tup[i+1]:
            return False
    return True

sort_tup1 = (1,2,3,4,5,6,7)
unsort_tup1 = (1,7,3,4,5,9,5,6)

ref1 = is_sort(sort_tup1)
ref2 = is_sort(unsort_tup1)

print(f"the sort: {sort_tup1} is {ref1}")
print(f"the sort: {unsort_tup1} is {ref2}")

the sort: (1, 2, 3, 4, 5, 6, 7) is True
the sort: (1, 7, 3, 4, 5, 9, 5, 6) is False

39. Rotate a tuple to the left by `n` positions.

In [4]:
def rot_tupple(tup,n):
    n = n % len(tup)
    rotated_tup = tup[n:] + tup[:n]
    return rotated_tup

tup1 = (1,2,3,4,5,6)
no_of_positions = 7
rotated = rot_tupple(tup1,no_of_positions)
print(f"The rotated tuple is: {tup1}", rotated)

The rotated tuple is: (1, 2, 3, 4, 5, 6) (2, 3, 4, 5, 6, 1)

40. Rotate a tuple to the right by `n` positions.

In [5]:
def rot_tuple_r(tup,n):
    n = n % len(tup)
    rotated_tup1 = tup[-n:] + tup[:-n]
    return rotated_tup1
tup2 = (1,2,3,4,5,6)
no_of_postions = 3
rotation = rot_tuple_r(tup2,no_of_postions)
print(f"The rotated tuple is: {tup2}", rotation)

The rotated tuple is: (1, 2, 3, 4, 5, 6) (4, 5, 6, 1, 2, 3)

41. Create a tuple of the first 5 Fibonacci numbers.

In [8]:
def fib_ser(n):
    fib_series = []
    a,b = 0,1
    for _ in range(n):
        fib_series.append(a)
        a,b = b,a+b
    return tuple(fib_series)
    
k = fib_ser(10)
print("The fibonacci series:",k)

The fibonacci series: (0, 1, 1, 2, 3, 5, 8, 13, 21, 34)

In [ ]:
42. Create a tuple from user input.

In [9]:
input_str = input("Enter elements separated by commas")
i = input_str.split(',')
user_t = tuple(i)
print("User input tuple:",user_t)

Enter elements separated by commas p,a,r,a,s,s,h,a,r,m,a

User input tuple: ('p', 'a', 'r', 'a', 's', 's', 'h', 'a', 'r', 'm', 'a')

43. Swap two elements in a tuple.

In [11]:
t1 = (1,2,3,4,5,6)
index1 = 3
index2 = 5

swapped_tuple = tuple( t1[i] if i not in (index1,index2) else
                      t1[index2] if i == index1 else 
                      t1[index1]
                     for i in range(len(t1))
                     )
print("Swapped tupple", swapped_tuple)

Swapped tupple (1, 2, 3, 6, 5, 4)

44. Reverse the elements of a tuple.

In [12]:
my_er = (1,2,3,4,6)
n_t = my_er[::-1]
print("reversed string is:", n_t)

reversed string is: (6, 4, 3, 2, 1)

45. Create a tuple of the first `n` powers of 2.

In [1]:
k = 5
new_tuple = tuple([2**i for i in range(k)])
new_tuple

(1, 2, 4, 8, 16)

46. Find the longest string in a tuple of strings.

In [5]:
stringg = ('paras','hello','sky','positivie')
r = max(stringg,key=len)
r

'positivie'

47. Find the shortest string in a tuple of strings.

In [6]:
stringg1 = ('paras','hello','sky','positivie')
rr = min(stringg1,key=len)
rr

'sky'

48. Create a tuple of the first `n` triangular numbers.

In [9]:
k=10
triangular_numbers = tuple(i*(i+1)//2 for i in range(1,k+1))
triangular_numbers

(1, 3, 6, 10, 15, 21, 28, 36, 45, 55)

49. Check if a tuple contains another tuple as a subsequence.

In [2]:
def main_another(maint,subt):
    subtt = len(subt)
    for i in range(len(maint)):
        if maint[i:i+subtt] == subt:
            return True
    return False

maint = (1,2,3,4,5,6,7,8,9)
subt = (8,9,10)

k = main_another(maint,subt)
print(" the main tuple has the tubele", k)

 the main tuple has the tubele False

50. Create a tuple of alternating 1s and 0s of length `n`.

In [3]:
n = 10
tup_new = tuple(i%2 for i in range(n))
tup_new

(0, 1, 0, 1, 0, 1, 0, 1, 0, 1)

Set Based Practice Problem :

1. Create a set with integers from 1 to 5.

In [7]:
set1 = set()
set1.add(1)
set1.add(2)
set1.add(3)
set1.add(4)
set1.add(5)
set1

{1, 2, 3, 4, 5}

2. Add an element to a set.

In [12]:
set2 = {1,2,3,4,5,6,7,8,9}
print("The orginial set is:", set2)
set2.add(10)
print("The final set is:", set2)

The orginial set is: {1, 2, 3, 4, 5, 6, 7, 8, 9}
The final set is: {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

3. Remove an element from a set.

In [13]:
set2

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [17]:
set2.remove(9)
set2

{1, 2, 3, 4, 5, 6, 7, 8}

4. Check if an element exists in a set.

In [22]:
set2
element_to_search = int(input("Enter the element to check"))
if element_to_search in set2:
    print(f"The element to check is : {element_to_search} is present in set: {set2}")
else:
    print(f"The element to check is : {element_to_search} is not present in set: {set2}")

Enter the element to check 10

The element to check is : 10 is not present in set: {1, 2, 3, 4, 5, 6, 7, 8}

5. Find the length of a set without using the `len()` function.

In [27]:
set2
count=0
for _ in set2:
    count+=1
print("The lenght of set is :", count)

The lenght of set is : 8

6. Clear all elements from a set.

In [26]:
set1
set1.clear()

7. Create a set of even numbers from 1 to 10.

In [28]:
set_even = set()
for num in range(1,11):
    if num%2 == 0:
        set_even.add(num)
print(set_even)

{2, 4, 6, 8, 10}

8. Create a set of odd numbers from 1 to 10.

In [29]:
set_odd = set()
for i in range(1,11):
    if i%2 != 0:
        set_odd.add(i)
print(set_odd)

{1, 3, 5, 7, 9}

9. Find the union of two sets.

In [34]:
set1 = {1,2,3,4,5}
set2 = {6,7,8,9,10}
union_set = set1.union(set2)
union_set

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

10. Find the intersection of two sets.

In [38]:
set3 = {1,6,7,4,5}
set4 = {1,2,3,4,5}
interaction_set = set3.intersection(set4)
interaction_set

{1, 4, 5}

11. Find the difference between two sets.

In [1]:
set5 = {1,6,7,4,5}
set6 = {1,2,3,4,5}
difference_set = set5.difference(set6)
difference_set

{6, 7}

12. Check if a set is a subset of another set.

In [4]:
set7 = {10}
set8 = {1,2,3,4,5,6}
subsetcheck = set7.issubset(set8)
subsetcheck

False

13. Check if a set is a superset of another set.

In [7]:
set9 = {1,2,3,4,5,6,7}
set10 = {1,2,3,4,5,6,8}
supersetcheck = set9.issuperset(set10)
supersetcheck

False

14. Create a set from a list.

In [16]:
l1 = [1,2,3,4,5,6,7]
s1 = set(l1)
s1

{1, 2, 3, 4, 5, 6, 7}

15. Convert a set to a list.

In [17]:
s1
l2 = list(s1)
l2

[1, 2, 3, 4, 5, 6, 7]

16. Remove a random element from a set.

In [19]:
import random
randome_choice = random.choice(list(s1))
s1.remove(randome_choice)
s1

{1, 3, 4, 5, 6}

17. Pop an element from a set.

In [21]:
s1.pop()
s1

{4, 5, 6}

18. Check if two sets have no elements in common.

In [25]:
set11 = {1,2,3,4,6}
set12 = {6,7,8,9,10}
check = set11.intersection(set12)
if not check:
    print("The two sets have no elements in common")
else:
    print("The two sets have elements in common",check)

The two sets have elements in common {6}

19. Find the symmetric difference between two sets.

In [26]:
set11 = {1,2,3,4,6,7,8}
set12 = {6,7,8,9,10}
set13 = set11^set12
set13

{1, 2, 3, 4, 9, 10}

20. Update a set with elements from another set.

In [27]:
set11 = {1,2,3,4,6,7,8}
set12 = {6,7,8,9,10}
set11.update(set12)
set11

{1, 2, 3, 4, 6, 7, 8, 9, 10}

21. Create a set of the first 5 prime numbers.

In [8]:
def is_prime(num):
    if num<2:
        return False
    for i in range(2,int(num**0.5)+1):
        if num % i == 0:
            return False
    return True

def first_n_primes(n):
    primes = set()
    num = 2
    
    while len(primes)<n:
        if is_prime(num):
            primes.add(num)
        num+=1
    return primes

first_5_primes = first_n_primes(5)
print(first_5_primes)

{2, 3, 5, 7, 11}

22. Check if two sets are identical.

In [9]:
set1 = {1, 2, 3, 4, 5}
set2 = {3, 1, 5, 2, 4}

if set1 == set2:
    print("Both the sets are identical")
else:
    print("Both the sets are non identical")

Both the sets are identical

23. Create a frozen set.

In [10]:
elments = {1,2,3,4,5,6,7}
frozen_set = frozenset(elments)
frozen_set

frozenset({1, 2, 3, 4, 5, 6, 7})

24. Check if a set is disjoint with another set.

In [15]:
set1 = {1, 2, 3, 4}
set2 = {5, 6, 7, 8}
disjoint_set = set1.isdisjoint(set2)
print("The sets are disjoint", disjoint_set)

The sets are disjoint True

25. Create a set of squares of numbers from 1 to 5.

In [19]:
set_squares = set(i**2 for i in range(1,6))
set_squares

{1, 4, 9, 16, 25}

26. Filter out all even numbers from a set.

In [20]:
set1 = {1,2,3,4,5,6,7,8,9,10}
filter_even_set = set(num for num in range(len(set1)) if num%2!=0)
filter_even_set

{1, 3, 5, 7, 9}

27. Multiply all elements in a set by 2.

In [22]:
def multiply_elements(orginal_set,factor):
    new_set = set(num*factor for num in orginal_set)
    return new_set

factor = 2
orginial_set = {1,2,3,4,5,6,7}
k = multiply_elements(orginial_set,factor)
print("Final set" , k)

Final set {2, 4, 6, 8, 10, 12, 14}

28. Create a set of random numbers.

In [23]:
import random
def random_set_generator(size,start,end):
    random_set = set()
    while len(random_set)<size:
        random_set.add(random.randint(start,end))
    return random_set
size = 10
start = 1
end = 10
random_numbers = random_set_generator(size,start,end)
print("The random numbers are:", random_numbers)

The random numbers are: {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

29. Check if a set is empty.

In [24]:
my_set = set()
if not my_set:
    print("The set is empty.")
else:
    print("The set is not empty.")

The set is empty.

30. Create a nested set (hint: use frozenset).

In [25]:
set1 = {1, 2, 3, 4, 5}
set2 = {6, 7, 8, 9, 10}
frozen_set1 = frozenset(set1)
frozen_set2 = frozenset(set2)
nested_set = {frozen_set1,frozen_set2}
print(nested_set)

{frozenset({1, 2, 3, 4, 5}), frozenset({6, 7, 8, 9, 10})}

31. Remove an element from a set using the discard method.

In [2]:
my_set = {1, 2, 3, 4, 5}
element_to_discard = 2
my_set.discard(element_to_discard)
my_set

{1, 3, 4, 5}

32. Compare two sets.

In [3]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

is_subset = set1.issubset(set2)

is_superset = set1.issuperset(set2)

intersection = set1.intersection(set2)

union = set1.union(set2)

difference1 = set1.difference(set2)

difference2 = set2.difference(set1)
print("Set 1:", set1)
print("Set 2:", set2)
print("Is set1 a subset of set2?", is_subset)
print("Is set2 a subset of set1?", is_superset)
print("Intersection:", intersection)
print("Union:", union)
print("Elements in set1 but not in set2:", difference1)
print("Elements in set2 but not in set1:", difference2)

Set 1: {1, 2, 3, 4, 5}
Set 2: {4, 5, 6, 7, 8}
Is set1 a subset of set2? False
Is set2 a subset of set1? False
Intersection: {4, 5}
Union: {1, 2, 3, 4, 5, 6, 7, 8}
Elements in set1 but not in set2: {1, 2, 3}
Elements in set2 but not in set1: {8, 6, 7}

33. Create a set from a string.

In [4]:
input_string = "Paras"
s_set = set(input_string)
s_set

{'P', 'a', 'r', 's'}

34. Convert a set of strings to a set of integers.

In [7]:
string_set = {"123", "456", "789"}
int_set=set()

for i in string_set:
    int_val = int(i)
    int_set.add(int_val)

print("Orginal string set", string_set)
print("Final string set", int_set)

Orginal string set {'789', '123', '456'}
Final string set {456, 123, 789}

35. Convert a set of integers to a set of strings.

In [8]:
string_set = {123, 456, 789}
str_set=set()

for num in string_set:
    str_val = str(num)
    str_set.add(str_val)

print("Orginal string set", string_set)
print("Final string set", str_set)

Orginal string set {456, 123, 789}
Final string set {'123', '789', '456'}

36. Create a set from a tuple.

In [9]:
tu_1=(1,2,3,4,3,2,5,6,7,5,43)
set_ntuple = set(tu_1)
set_ntuple

{1, 2, 3, 4, 5, 6, 7, 43}

37. Convert a set to a tuple.

In [11]:
s = {1,2,3,4,5,6,6,7}
t = tuple(s)
t

(1, 2, 3, 4, 5, 6, 7)

In [ ]:
38. Find the maximum value in a set.

In [13]:
s
s1=max(s)
s1

7

39. Find the minimum value in a set.

In [14]:
s
s2=min(s)
s2

1

40. Create a set from user input.

In [17]:
user_set = set()
print("enter the elements and finish to done")

while True:
    user_in = input(">>")
    if user_in.lower() == "finish":
        break
    user_set.add(user_in)
print("Final set:", user_set)

enter the elements and finish to done

>> paras
>> sharma
>> hello
>> finish

Final set: {'sharma', 'paras', 'hello'}

41. Check if the intersection of two sets is empty.

In [19]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

chk_interaction = set1.intersection(set2)
if not chk_interaction:
    print("the interaction for two sets is empty")
else:
    print("the interaction for two sets is not empty")

the interaction for two sets is not empty

42. Create a set of the first 5 Fibonacci numbers.

In [20]:
fibonacci_set = set()
a,b = 0,1

for _ in range(6):
    fibonacci_set.add(a)
    a,b = b,a+b
    
print("The fibonacci is :", fibonacci_set)

The fibonacci is : {0, 1, 2, 3, 5}

43. Remove duplicates from a list using sets.

In [21]:
l1 = [1,2,3,4,5,6,4,2,3,1,2]
s3 = set(l1)
s3

{1, 2, 3, 4, 5, 6}

44. Check if two sets have the same elements, regardless of their count.

In [23]:
def same_elements(set_1,set_2):
    sortedt_list1 = sorted(list(set_1))
    sortedt_list2 = sorted(list(set_2))
    return sortedt_list1 == sortedt_list2

set_1 = {1,2,4,2,1,3}
set_2 = {1,2,3}

k = same_elements(set_1,set_2)
if k:
    print("The sets have same elements")
else:
    print("The sets have diff elements")

The sets have diff elements

45. Create a set of the first `n` powers of 2.

In [24]:
n=5
n_power_set = set(2**i for i in range(n))
n_power_set

{1, 2, 4, 8, 16}

46. Find the common elements between a set and a list.

In [25]:
my_set = {3, 7, 9, 12, 15}
my_list = [7, 12, 5, 9]

common_element = []

list_to_set = set(my_list)

for i in my_set:
    if i in list_to_set:
        common_element.append(i)
        
print("Common Elements:", common_element)

Common Elements: [7, 9, 12]

47. Create a set of the first `n` triangular numbers.

In [27]:
def triangular_m(n):
    triangulars_numbers = set()
    for i in range(1,n+1):
        h = i*(i+1) // 2
        triangulars_numbers.add(h)
    return triangulars_numbers

l = triangular_m(10)
print(l)

{1, 3, 36, 6, 10, 45, 15, 21, 55, 28}

48. Check if a set contains another set as a subset.

In [29]:
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4}

k = set2.issubset(set1)
k

True

49. Create a set of alternating 1s and 0s of length `n`.

In [33]:
n = 10
j = set(i%2 for i in range(n))
j

{0, 1}

50. Merge multiple sets into one.

In [34]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set3 = {5, 6, 7}
merged_set = set1.union(set2, set3)
print("Merged Set:", merged_set)

Merged Set: {1, 2, 3, 4, 5, 6, 7}